# Installiert Packages mit exakten Versionsnummern (ohne ^ oder ~)
save-exact=true

# Stellt sicher, dass package-lock.json immer verwendet wird
package-lock=true

# Registry-Resolver für @freenet-group und @frnde Scopes
@freenet-group:registry=https://npm.pkg.github.com/
@frnde:registry=https://npm.pkg.github.com/
